[HomeScreen]
top-left: WeatherLabel
top-right: TockDate
clock: TockClock

[Alarm]
time: 7:56 PM
greetings: WakeUpGreeting, WeatherGreeting
sound: alarm.wav

[Constants]
weather_query: http://api.openweathermap.org/data/2.5/weather?q=Cupertino&appid=1c51e68c4823e92a75f2590404fd6634&units=imperial
    `1q`